body {
    background-color: #0a0f2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial',  sans-serif;
}

#btnLogoSNTS {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 0;
}

#btnLogoSNTS img {
    width: 200px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transition: box-shadow 0.3s, transform 0.3s;
}

#btnLogoSNTS:hover img {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0,0,0,0.7);
}