.nav-top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 10px 20px;
    background-color: rgba(10,15,44,0.95);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    z-index: 999;
}

.nav-lateral {
    position: fixed; top: 0; left: -250px;
    width: 250px; height: 100vh;
    padding: 20px;
    display: flex; flex-direction: column; gap: 10px;
    background-color: #1e1f33;
    transition: left 0.3s ease;
    z-index: 1000;
}

.nav-lateral.abierto { left: 0 }
body.menu-abierto main {
    margin-left: 260px;
    transition: margin-left 0.3s ease;
}

.button-control {
    background-color: #1e1f33;
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 6px;
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.button-control:hover {
    background-color: var(--accent);
    color: #0a0f2c;
    box-shadow: 0 0 10px var(--accent);
}