/* TABLETS */
@media (max-width: 768px) {
    .plantilla-principal {
        grid-template-columns: repeat(2, 1fr);
    }

    .plantilla-principal > div {
        grid-column: span 1 !important;
    }

    .div1, .div2, .div3, .div4,
    .div9, .div10, .div11, .div12 {
        height: 220px;
    }

    .plantilla-principal img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
}

/* CELULARES */
@media (max-width: 480px) {
    .plantilla-principal {
        grid-template-columns: 1fr;
    }

    .plantilla-principal > div {
        grid-column: span 1 !important;
    }

    .plantilla-principal img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    .plantilla-principal .div5,
    .plantilla-principal .div6,
    .plantilla-principal .div7,
    .plantilla-principal .div8,
    .plantilla-principal .div13,
    .plantilla-principal .div14,
    .plantilla-principal .div15,
    .plantilla-principal .div16 {
        font-size: 13px;
        padding: 10px;
    }
}